{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Yavar{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}?{% now 'U' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.svg' %}">
</head>
<body> 
    {% include "template/navbar.html" %}
    <main>
        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var categorySelect = document.getElementById('id_category');
            var customCategoryInput = document.getElementById('custom-category-input');
            var customCategoryGroup = document.getElementById('custom-category-group');
        
            function toggleCustomCategoryInput() {
                if (categorySelect.value === 'Others') {
                    customCategoryGroup.style.display = 'block';
                    customCategoryInput.style.display = 'block';
                } else {
                    customCategoryGroup.style.display = 'none';
                    customCategoryInput.value = '';
                }
            }
        
            toggleCustomCategoryInput();
        
            categorySelect.addEventListener('change', toggleCustomCategoryInput);
        });
    </script>

    {% include "template/footer.html" %}
</body>
</html>
