{% load static %}

<footer>
    <img src="{% static "images/footer_yavar.png" %}" alt="Yavar Logo" id="footer-logo">
    <div id="footer-content-con">
        <p id="footer-con">
            Empowering businesses of all sizes with cutting-edge technology for efficient operations and sustainable growth.
        </p>
        <div id="links">
          
            <a href="https://yavar.ai/" target="_blank">Yavar AI</a>
            <a href="https://yavar.ai/blogs/" target="_blank">Blog</a>
            <a href="https://yavar.ai/contact/" target="_blank">Contact Us</a>
            <a href="https://yavar.ai/privacy-and-policy/" target="_blank">Privacy Policy</a>
            <a href="https://yavar.ai/terms-of-services/" target="_blank">Terms of Services</a>
        </div>
        <div id="social-media">
            <a href="https://www.linkedin.com/company/yavar-tech-works/about/" target="_blank"><i class="fa-brands fa-linkedin"></i><p>Linkedin</p></a>
            <a href="https://www.youtube.com/channel/UCdjDbzu3Ru8FJecvbT_v32Q" target="_blank"><i class="fa-brands fa-youtube"></i><p>Youtube</p></a>
        </div>
        <p id="copyright">
            © Copyright 2024 Yavar Tech Works. All rights reserved. All logos and trademarks used belong to their respective owners.
        </p>
    </div>
</footer>