{% load static %}
<header>
    <nav class="navbar">
        <div >
            <a href="{% url 'LeadRegistration' %}">
                <img src="{% static 'images/Yavar_logo.png' %}" alt="Logo" id="logo">
            </a>
        </div>
        {% if isShowBack %}
            <div id='btn-grp'>
                <a href="{% url 'LeadRegistration' %}" class="btn btn-dark">Back</a>
                <a class="btn btn-dark" id='admin-btn' href="{% url 'admin:index' %}">Login</a>
            </div>
        {% else %}
            <a class="btn btn-dark" id='admin-btn' href="{% url 'admin:index' %}">Login</a>
        {% endif %}

    </nav>
</header>